/gdata-samples.java-*.zip
/gdata/
/my-app/target/
/gdata-java-client/gdata/java/lib/
/gdata-java-client/gdata/java/sample/spreadsheet/lib/
/gdata-java-client/gdata/java/sample/util/lib/
/gdata/java/sample/spreadsheet/classes/
